<h1>All Articles!</h1>
<%= link_to 'New article', new_article_path %>
<br>
<% @articles.each do |article| %>
  <p>
      <strong>Title:</strong>
      <%= article.title %>    
  </p>
  
  <p>
      <strong>Text:</strong>
      <%= article.text %>    
  </p>
  <hr></hr>
<% end %>